@font-face {
    font-family: 'AktivBlack';
    src: url('fonts/AktivGrotesk-Black.ttf');
}
@font-face {
    font-family: 'AktivBold';
    src: url('fonts/AktivGrotesk-Bold.ttf');
}
@font-face {
    font-family: 'AktivLight';
    src: url('fonts/AktivGrotesk-Light.ttf');
}
@font-face {
    font-family: 'AktivRegular';
    src: url('fonts/AktivGrotesk-Regular.ttf');
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}

.hero-section {
    height: 100vh;
    background-image: linear-gradient(
        rgba(0, 139, 99, 0.8),
        rgba(0, 139, 99, 0.8)
    ), url(images/back-image.jpg);
    background-size: cover;
    background-position: center;
}

header {
    background-color: transparent;
    padding: 1vw 12vw;
}

.header-logo {
    height: 60px;
}

.hero-content {
    margin: 10vh 12vw 0vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 70vh;
}

.hero-left {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

.hero-right {
    flex-basis: 40%;
    position: relative;
    overflow: hidden;
    display: flex;
}

.left-align-text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.offertas {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
}

.hero-logo {
    height: 75px;
    margin-right: -13px;
}

.white-bold-text {
    font-family: AktivBold;
    color: white;
    font-size: 5.5vh;
}

.white-light-text {
    font-family: AktivLight;
    font-weight: 200;
    color: white;
    font-size: 3vh;
}

.secondary-text-left {
    margin-top: 4vh;
}

.download-buttons {
    margin-top: 4vh;
    display: flex;
    gap: 20px;
}

.appstore-button,
.googleplay-button {
    background-color: white;
    text-decoration: none;
    color: rgba(0, 139, 99);
    border: none;
    border-radius: 100px;
    padding: 15px 25px;
    font-family: AktivBold;
    font-size: 15px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
}

.appstore-button i,
.googleplay-button i {
    font-size: 1em;
    margin-right: 10px;
}

.appstore-button:hover,
.googleplay-button:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

@media (max-width: 768px) {
    header {
        padding: 0 2vw 20px 2vw;
    }
    .hero-content {
        margin: 5px 3vw;
        flex-direction: column;
        text-align: center;
    }
    .hero-content.stretch {
        margin: 5px 3vw;
        flex-direction: column;
        text-align: center;
        flex-grow: 1; /* Permite que .hero-content se estire verticalmente */
    }
    .secondary-text-left {
        text-align: left;
        margin-top: 30px;
    }

    .hero-left p {
        text-align: left;
    }

    .white-bold-text {
        font-size: 4.5vh;
    }

    .white-light-text {
        font-size: 2.5vh;
    }
    .download-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
        gap: 10px;
    }
    .appstore-button,
    .googleplay-button {
        font-size: 1.7vh;
    }

    .hero-right {
        margin-top: 20px;
        flex-basis: 45%;
        overflow:auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
    }

    /* Estilo para la imagen en dispositivos móviles */
    .iphone-1 {
        max-height: 30vh;
        width: auto;
        height: auto; /* Añadimos esto para asegurarnos de que la imagen no se corte y mantenga su relación de aspecto */
    }
}
